.editor {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
.page-preview {
    width: 300px;
    height: 420px;
    background: white;
    padding: 25px;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
.page-setup {
    width: 300px;
    border: 1px solid #999;
    background-color: #ffffff;
    padding: 15px;
    margin: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}


.editor:has(#a4:checked):has(#portrait:checked) .page-preview {
    width: 300px;
    height: 420px;
}

.editor:has(#a4:checked):has(#landscape:checked) .page-preview {
    width: 420px;
    height: 300px;
}


